.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 24px;
  }

.card-stack {
  width: 400px;
}
  
  .card-link {
    margin-top: 8px;
    display: inline-block;
    text-decoration: underline;
    font-size: 12px;
  }
  