.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 14px 20px;
    border: 1px solid;
    width: fit-content;
    font-size: var(--font-paragrapgh-btn-text-2-btn-text-2-font-size, 14px);
    font-weight: var(--font-paragrapgh-btn-text-2-btn-text-2-font-weight, 400);
    line-height: var(--font-paragrapgh-btn-text-2-btn-text-2-line-height, 18px);
    font-family: var(--font-common-font-family);
  }
  
  .alert-icon {
    display: flex;
    align-items: center;
    color: inherit;
  }
  
  .alert-message {
    color: inherit;
    font-size: 14px;
  }
  
  .alert-link {
    font-weight: 500;
    text-decoration: underline;
    color: inherit;
  }
  
  .alert-close {
    background: transparent;
    border: none;
    align-items: bottom;
    cursor: pointer;
    color: inherit;
  }
  
  /* Variants */
  .alert-default {
    background-color: var(--alias-color-bg-light-blue);
    border-color: var(--alias-color-border-info);
  }
  
  .alert-success {
    background-color: var(--alias-color-bg-light-green);
    border-color: var(--alias-color-border-success);
  }
  
  .alert-warning {
    background-color: var(--alias-color-bg-light-yellow);
    border-color: var(--alias-color-border-warning);
  }
  
  .alert-error {
    background-color: var(--alias-color-bg-light-red);
    border-color: var(--alias-color-border-error);
  }
  
  