.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--primitives-radius-rounded-md); /* 8px */
  padding: 0 var(--primitives-spacing-4); /* 0 12px */
  height: 24px;
  white-space: nowrap;
  user-select: none;
  border: var(--primitives-border-stroke-light) solid transparent; /* 1px */
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--primitives-typography-font-family-primary);
}

.badge-text {
  font-size: var(--font-label-label-5-medium-font-size); /* 12px */
  font-weight: var(--font-label-label-5-medium-font-weight); /* 500 */
  line-height: var(--font-label-label-5-medium-line-height); /* 16px */
}

.badge-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Variants */
.badge--default {
  background-color: var(--alias-color-bg-light);
  color: var(--alias-color-text-text-black-100);
  border-color: var(--alias-color-border-light);
}

.badge--error {
  background-color: var(--alias-color-bg-light-red);
  color: var(--alias-color-text-text-black-100);
  border-color: var(--alias-color-border-error);
}

.badge--success {
  background-color: var(--alias-color-bg-light-green);
  color: var(--alias-color-text-text-black-100);
  border-color: var(--alias-color-border-success);
}

.badge--warning {
  background-color: var(--alias-color-bg-light-yellow);
  color: var(--alias-color-text-text-black-100);
  border-color: var(--alias-color-border-warning);
}

.badge--disabled {
  background-color: var(--alias-color-btn-primary-bg-disabled);
  color: var(--alias-color-text-text-grey-200);
  cursor: not-allowed;
  border-color: var(--alias-color-border-light);
}
