/* Body.css */

.body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #111827;
    letter-spacing: 0;
  }
  
  /* Body-1 Styles */
  .body-body-1 {
    font-size: 18px;
    line-height: 24px;
  }
  
  .body-body-1.body-regular {
    font-weight: 400;
  }
  
  .body-body-1.body-bold {
    font-weight: 700;
  }
  
  /* Body-2 Styles */
  .body-body-2 {
    font-size: 16px;
    line-height: 22px;
  }
  
  .body-body-2.body-regular {
    font-weight: 400;
  }
  
  .body-body-2.body-bold {
    font-weight: 700;
  }
  
  /* Body-3 Styles */
  .body-body-3 {
    font-size: 14px;
    line-height: 18px;
  }
  
  .body-body-3.body-regular {
    font-weight: 400;
  }
  
  .body-body-3.body-bold {
    font-weight: 700;
  }
  
  /* Body-4 Styles */
  .body-body-4 {
    font-size: 12px;
    line-height: 16px;
  }
  
  .body-body-4.body-regular {
    font-weight: 400;
  }
  
  .body-body-4.body-bold {
    font-weight: 700;
  }