.help-text {
    font-family: var(--font-common-font-family);
    font-size: var(--font-label-label-5-medium-font-size);
    line-height: var(--font-label-label-5-medium-line-height);
    letter-spacing: var(--font-label-label-5-medium-letter-spacing);
    font-weight: var(--font-label-label-5-medium-font-weight);
    margin: 0;
    padding: 0;
  }
  
  /* Variant colors */
  .help-text--default {
    color: var(--primitives-color-navy-100);
  }
  
  .help-text--error {
    color: var(--alias-color-text-text-error);
  }
  
  .help-text--success {
    color: var(--alias-color-text-text-success);
  }
  
  .help-text--info {
    color: var(--alias-color-text-text-info);
  }
  