.help-text {
    font-family: var(--font-common-font-family);
    font-size: var(--font-label-label-2-regular-font-size);
    line-height: var(--font-label-label-2-regular-line-height);
    letter-spacing: var(--font-label-label-2-regular-letter-spacing);
    font-weight: var(--font-label-label-2-medium-font-weight);
    margin: 0;
    padding: 0;
  }
  
  /* Variant colors */
  .help-text--default {
    color: var(--primitives-color-navy-100);
  }
  
  .help-text--error {
    color: var(--primitives-color-destructive-red-100);
  }
  
  .help-text--text {
    color: var(--primitives-color-grey-300);
  }
  
  .help-text--success {
    color: var(--primitives-color-green-200);
  }
  
  .help-text--info {
    color: var(--primitives-color-blue-300);
  }
  