.tabs-container {
  background: var(--primitives-color-white-200);
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--primitives-color-grey-50);
  font-family: var(--font-common-font-family);
}

.tab-button {
  background: transparent;
  border: none;
  position: relative;
  padding: 8px 4px;
  min-width: 150px;
  cursor: pointer;
  outline: none;

  font-size: var(--font-label-label-2-medium-font-size);
  font-weight: var(--font-label-label-2-semi-medium-font-weight);
  letter-spacing: var(--font-label-label-2-medium-letter-spacing);
  line-height: var(--font-label-label-2-medium-line-height);
}

.tab-button:hover:not(.disabled) {
  background-color: var(--primitives-color-white-50);
}

.tab-button.disabled {
  color: var(--primitives-color-grey-200);
  background-color: var(--primitives-color-white-100);
  cursor: not-allowed;
}

.tab-button.active {
  font-weight: var(--font-label-label-2-semi-bold-font-weight);
}

.tab-underline {
  height: 2px;
  background-color: var(--primitives-color-teal-50);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
