:root {
    --font-heading-h1-medium-font-size: 32px;
    --font-heading-h1-medium-text-decoration: none;
    --font-heading-h1-medium-font-family: Avenir;
    --font-heading-h1-medium-font-weight: 500;
    --font-heading-h1-medium-font-style: normal;
    --font-heading-h1-medium-font-stretch: normal;
    --font-heading-h1-medium-letter-spacing: -0.6px;
    --font-heading-h1-medium-line-height: 36px;
    --font-heading-h1-medium-paragraph-indent: 0;
    --font-heading-h1-medium-paragraph-spacing: 0;
    --font-heading-h1-medium-text-case: none;
    --font-heading-h1-bold-font-size: 32px;
    --font-heading-h1-bold-text-decoration: none;
    --font-heading-h1-bold-font-family: Avenir;
    --font-heading-h1-bold-font-weight: 900;
    --font-heading-h1-bold-font-style: normal;
    --font-heading-h1-bold-font-stretch: normal;
    --font-heading-h1-bold-letter-spacing: -0.6px;
    --font-heading-h1-bold-line-height: 36px;
    --font-heading-h1-bold-paragraph-indent: 0;
    --font-heading-h1-bold-paragraph-spacing: 0;
    --font-heading-h1-bold-text-case: none;
    --font-heading-h2-medium-font-size: 24px;
    --font-heading-h2-medium-text-decoration: none;
    --font-heading-h2-medium-font-family: Avenir;
    --font-heading-h2-medium-font-weight: 500;
    --font-heading-h2-medium-font-style: normal;
    --font-heading-h2-medium-font-stretch: normal;
    --font-heading-h2-medium-letter-spacing: -0.24px;
    --font-heading-h2-medium-line-height: 28px;
    --font-heading-h2-medium-paragraph-indent: 0;
    --font-heading-h2-medium-paragraph-spacing: 0;
    --font-heading-h2-medium-text-case: none;
    --font-heading-h2-bold-font-size: 24px;
    --font-heading-h2-bold-text-decoration: none;
    --font-heading-h2-bold-font-family: Avenir;
    --font-heading-h2-bold-font-weight: 900;
    --font-heading-h2-bold-font-style: normal;
    --font-heading-h2-bold-font-stretch: normal;
    --font-heading-h2-bold-letter-spacing: -0.24px;
    --font-heading-h2-bold-line-height: 28px;
    --font-heading-h2-bold-paragraph-indent: 0;
    --font-heading-h2-bold-paragraph-spacing: 0;
    --font-heading-h2-bold-text-case: none;
    --font-heading-h3-medium-font-size: 20px;
    --font-heading-h3-medium-text-decoration: none;
    --font-heading-h3-medium-font-family: Avenir;
    --font-heading-h3-medium-font-weight: 500;
    --font-heading-h3-medium-font-style: normal;
    --font-heading-h3-medium-font-stretch: normal;
    --font-heading-h3-medium-letter-spacing: -0.2px;
    --font-heading-h3-medium-line-height: 24px;
    --font-heading-h3-medium-paragraph-indent: 0;
    --font-heading-h3-medium-paragraph-spacing: 0;
    --font-heading-h3-medium-text-case: none;
    --font-heading-h3-bold-font-size: 20px;
    --font-heading-h3-bold-text-decoration: none;
    --font-heading-h3-bold-font-family: Avenir;
    --font-heading-h3-bold-font-weight: 900;
    --font-heading-h3-bold-font-style: normal;
    --font-heading-h3-bold-font-stretch: normal;
    --font-heading-h3-bold-letter-spacing: -0.2px;
    --font-heading-h3-bold-line-height: 24px;
    --font-heading-h3-bold-paragraph-indent: 0;
    --font-heading-h3-bold-paragraph-spacing: 0;
    --font-heading-h3-bold-text-case: none;
    --font-heading-h4-medium-font-size: 18px;
    --font-heading-h4-medium-text-decoration: none;
    --font-heading-h4-medium-font-family: Avenir;
    --font-heading-h4-medium-font-weight: 500;
    --font-heading-h4-medium-font-style: normal;
    --font-heading-h4-medium-font-stretch: normal;
    --font-heading-h4-medium-letter-spacing: -0.1px;
    --font-heading-h4-medium-line-height: 20px;
    --font-heading-h4-medium-paragraph-indent: 0;
    --font-heading-h4-medium-paragraph-spacing: 0;
    --font-heading-h4-medium-text-case: none;
    --font-heading-h4-bold-font-size: 18px;
    --font-heading-h4-bold-text-decoration: none;
    --font-heading-h4-bold-font-family: Avenir;
    --font-heading-h4-bold-font-weight: 900;
    --font-heading-h4-bold-font-style: normal;
    --font-heading-h4-bold-font-stretch: normal;
    --font-heading-h4-bold-letter-spacing: -0.1px;
    --font-heading-h4-bold-line-height: 20px;
    --font-heading-h4-bold-paragraph-indent: 0;
    --font-heading-h4-bold-paragraph-spacing: 0;
    --font-heading-h4-bold-text-case: none;
    --font-body-body-1-regular-font-size: 18px;
    --font-body-body-1-regular-text-decoration: none;
    --font-body-body-1-regular-font-family: Avenir;
    --font-body-body-1-regular-font-weight: 400;
    --font-body-body-1-regular-font-style: normal;
    --font-body-body-1-regular-font-stretch: normal;
    --font-body-body-1-regular-letter-spacing: 0px;
    --font-body-body-1-regular-line-height: 24px;
    --font-body-body-1-regular-paragraph-indent: 0;
    --font-body-body-1-regular-paragraph-spacing: 0;
    --font-body-body-1-regular-text-case: none;
    --font-body-body-1-bold-font-size: 18px;
    --font-body-body-1-bold-text-decoration: none;
    --font-body-body-1-bold-font-family: Avenir;
    --font-body-body-1-bold-font-weight: 900;
    --font-body-body-1-bold-font-style: normal;
    --font-body-body-1-bold-font-stretch: normal;
    --font-body-body-1-bold-letter-spacing: 0px;
    --font-body-body-1-bold-line-height: 24px;
    --font-body-body-1-bold-paragraph-indent: 0;
    --font-body-body-1-bold-paragraph-spacing: 0;
    --font-body-body-1-bold-text-case: none;
    --font-body-body-2-regular-font-size: 16px;
    --font-body-body-2-regular-text-decoration: none;
    --font-body-body-2-regular-font-family: Avenir;
    --font-body-body-2-regular-font-weight: 400;
    --font-body-body-2-regular-font-style: normal;
    --font-body-body-2-regular-font-stretch: normal;
    --font-body-body-2-regular-letter-spacing: 0px;
    --font-body-body-2-regular-line-height: 22px;
    --font-body-body-2-regular-paragraph-indent: 0;
    --font-body-body-2-regular-paragraph-spacing: 0;
    --font-body-body-2-regular-text-case: none;
    --font-body-body-2-bold-font-size: 16px;
    --font-body-body-2-bold-text-decoration: none;
    --font-body-body-2-bold-font-family: Avenir;
    --font-body-body-2-bold-font-weight: 900;
    --font-body-body-2-bold-font-style: normal;
    --font-body-body-2-bold-font-stretch: normal;
    --font-body-body-2-bold-letter-spacing: 0px;
    --font-body-body-2-bold-line-height: 22px;
    --font-body-body-2-bold-paragraph-indent: 0;
    --font-body-body-2-bold-paragraph-spacing: 0;
    --font-body-body-2-bold-text-case: none;
    --font-body-body-3-regular-font-size: 14px;
    --font-body-body-3-regular-text-decoration: none;
    --font-body-body-3-regular-font-family: Avenir;
    --font-body-body-3-regular-font-weight: 400;
    --font-body-body-3-regular-font-style: normal;
    --font-body-body-3-regular-font-stretch: normal;
    --font-body-body-3-regular-letter-spacing: 0px;
    --font-body-body-3-regular-line-height: 18px;
    --font-body-body-3-regular-paragraph-indent: 0;
    --font-body-body-3-regular-paragraph-spacing: 0;
    --font-body-body-3-regular-text-case: none;
    --font-body-body-3-bold-font-size: 14px;
    --font-body-body-3-bold-text-decoration: none;
    --font-body-body-3-bold-font-family: Avenir;
    --font-body-body-3-bold-font-weight: 900;
    --font-body-body-3-bold-font-style: normal;
    --font-body-body-3-bold-font-stretch: normal;
    --font-body-body-3-bold-letter-spacing: 0px;
    --font-body-body-3-bold-line-height: 18px;
    --font-body-body-3-bold-paragraph-indent: 0;
    --font-body-body-3-bold-paragraph-spacing: 0;
    --font-body-body-3-bold-text-case: none;
    --font-body-body-4-regular-font-size: 12px;
    --font-body-body-4-regular-text-decoration: none;
    --font-body-body-4-regular-font-family: Avenir;
    --font-body-body-4-regular-font-weight: 400;
    --font-body-body-4-regular-font-style: normal;
    --font-body-body-4-regular-font-stretch: normal;
    --font-body-body-4-regular-letter-spacing: 0px;
    --font-body-body-4-regular-line-height: 16px;
    --font-body-body-4-regular-paragraph-indent: 0;
    --font-body-body-4-regular-paragraph-spacing: 0;
    --font-body-body-4-regular-text-case: none;
    --font-body-body-4-bold-font-size: 12px;
    --font-body-body-4-bold-text-decoration: none;
    --font-body-body-4-bold-font-family: Avenir;
    --font-body-body-4-bold-font-weight: 900;
    --font-body-body-4-bold-font-style: normal;
    --font-body-body-4-bold-font-stretch: normal;
    --font-body-body-4-bold-letter-spacing: 0px;
    --font-body-body-4-bold-line-height: 16px;
    --font-body-body-4-bold-paragraph-indent: 0;
    --font-body-body-4-bold-paragraph-spacing: 0;
    --font-body-body-4-bold-text-case: none;
    --font-label-label-1-regular-font-size: 17px;
    --font-label-label-1-regular-text-decoration: none;
    --font-label-label-1-regular-font-family: Avenir;
    --font-label-label-1-regular-font-weight: 400;
    --font-label-label-1-regular-font-style: normal;
    --font-label-label-1-regular-font-stretch: normal;
    --font-label-label-1-regular-letter-spacing: -0.18px;
    --font-label-label-1-regular-line-height: 20.4px;
    --font-label-label-1-regular-paragraph-indent: 0;
    --font-label-label-1-regular-paragraph-spacing: 0;
    --font-label-label-1-regular-text-case: none;
    --font-label-label-1-medium-font-size: 17px;
    --font-label-label-1-medium-text-decoration: none;
    --font-label-label-1-medium-font-family: Avenir;
    --font-label-label-1-medium-font-weight: 500;
    --font-label-label-1-medium-font-style: normal;
    --font-label-label-1-medium-font-stretch: normal;
    --font-label-label-1-medium-letter-spacing: -0.18px;
    --font-label-label-1-medium-line-height: 20px;
    --font-label-label-1-medium-paragraph-indent: 0;
    --font-label-label-1-medium-paragraph-spacing: 0;
    --font-label-label-1-medium-text-case: none;
    --font-label-label-1-semi-bold-font-size: 17px;
    --font-label-label-1-semi-bold-text-decoration: none;
    --font-label-label-1-semi-bold-font-family: Avenir;
    --font-label-label-1-semi-bold-font-weight: 500;
    --font-label-label-1-semi-bold-font-style: normal;
    --font-label-label-1-semi-bold-font-stretch: normal;
    --font-label-label-1-semi-bold-letter-spacing: -0.18px;
    --font-label-label-1-semi-bold-line-height: 20px;
    --font-label-label-1-semi-bold-paragraph-indent: 0;
    --font-label-label-1-semi-bold-paragraph-spacing: 0;
    --font-label-label-1-semi-bold-text-case: none;
    --font-label-label-1-bold-font-size: 17px;
    --font-label-label-1-bold-text-decoration: none;
    --font-label-label-1-bold-font-family: Avenir;
    --font-label-label-1-bold-font-weight: 900;
    --font-label-label-1-bold-font-style: normal;
    --font-label-label-1-bold-font-stretch: normal;
    --font-label-label-1-bold-letter-spacing: -0.18px;
    --font-label-label-1-bold-line-height: 20px;
    --font-label-label-1-bold-paragraph-indent: 0;
    --font-label-label-1-bold-paragraph-spacing: 0;
    --font-label-label-1-bold-text-case: none;
    --font-label-label-2-regular-font-size: 15px;
    --font-label-label-2-regular-text-decoration: none;
    --font-label-label-2-regular-font-family: Avenir;
    --font-label-label-2-regular-font-weight: 400;
    --font-label-label-2-regular-font-style: normal;
    --font-label-label-2-regular-font-stretch: normal;
    --font-label-label-2-regular-letter-spacing: -0.16px;
    --font-label-label-2-regular-line-height: 18px;
    --font-label-label-2-regular-paragraph-indent: 0;
    --font-label-label-2-regular-paragraph-spacing: 0;
    --font-label-label-2-regular-text-case: none;
    --font-label-label-2-medium-font-size: 15px;
    --font-label-label-2-medium-text-decoration: none;
    --font-label-label-2-medium-font-family: Avenir;
    --font-label-label-2-medium-font-weight: 500;
    --font-label-label-2-medium-font-style: normal;
    --font-label-label-2-medium-font-stretch: normal;
    --font-label-label-2-medium-letter-spacing: -0.16px;
    --font-label-label-2-medium-line-height: 18px;
    --font-label-label-2-medium-paragraph-indent: 0;
    --font-label-label-2-medium-paragraph-spacing: 0;
    --font-label-label-2-medium-text-case: none;
    --font-label-label-2-semi-bold-font-size: 15px;
    --font-label-label-2-semi-bold-text-decoration: none;
    --font-label-label-2-semi-bold-font-family: Avenir;
    --font-label-label-2-semi-bold-font-weight: 500;
    --font-label-label-2-semi-bold-font-style: normal;
    --font-label-label-2-semi-bold-font-stretch: normal;
    --font-label-label-2-semi-bold-letter-spacing: -0.16px;
    --font-label-label-2-semi-bold-line-height: 18px;
    --font-label-label-2-semi-bold-paragraph-indent: 0;
    --font-label-label-2-semi-bold-paragraph-spacing: 0;
    --font-label-label-2-semi-bold-text-case: none;
    --font-label-label-2-bold-font-size: 15px;
    --font-label-label-2-bold-text-decoration: none;
    --font-label-label-2-bold-font-family: Avenir;
    --font-label-label-2-bold-font-weight: 900;
    --font-label-label-2-bold-font-style: normal;
    --font-label-label-2-bold-font-stretch: normal;
    --font-label-label-2-bold-letter-spacing: -0.16px;
    --font-label-label-2-bold-line-height: 18px;
    --font-label-label-2-bold-paragraph-indent: 0;
    --font-label-label-2-bold-paragraph-spacing: 0;
    --font-label-label-2-bold-text-case: none;
    --font-label-label-3-regular-font-size: 13px;
    --font-label-label-3-regular-text-decoration: none;
    --font-label-label-3-regular-font-family: Avenir;
    --font-label-label-3-regular-font-weight: 400;
    --font-label-label-3-regular-font-style: normal;
    --font-label-label-3-regular-font-stretch: normal;
    --font-label-label-3-regular-letter-spacing: -0.14px;
    --font-label-label-3-regular-line-height: 16px;
    --font-label-label-3-regular-paragraph-indent: 0;
    --font-label-label-3-regular-paragraph-spacing: 0;
    --font-label-label-3-regular-text-case: none;
    --font-label-label-3-medium-font-size: 13px;
    --font-label-label-3-medium-text-decoration: none;
    --font-label-label-3-medium-font-family: Avenir;
    --font-label-label-3-medium-font-weight: 500;
    --font-label-label-3-medium-font-style: normal;
    --font-label-label-3-medium-font-stretch: normal;
    --font-label-label-3-medium-letter-spacing: -0.14px;
    --font-label-label-3-medium-line-height: 16px;
    --font-label-label-3-medium-paragraph-indent: 0;
    --font-label-label-3-medium-paragraph-spacing: 0;
    --font-label-label-3-medium-text-case: none;
    --font-label-label-3-semi-bold-font-size: 13px;
    --font-label-label-3-semi-bold-text-decoration: none;
    --font-label-label-3-semi-bold-font-family: Avenir;
    --font-label-label-3-semi-bold-font-weight: 500;
    --font-label-label-3-semi-bold-font-style: normal;
    --font-label-label-3-semi-bold-font-stretch: normal;
    --font-label-label-3-semi-bold-letter-spacing: -0.14px;
    --font-label-label-3-semi-bold-line-height: 16px;
    --font-label-label-3-semi-bold-paragraph-indent: 0;
    --font-label-label-3-semi-bold-paragraph-spacing: 0;
    --font-label-label-3-semi-bold-text-case: none;
    --font-label-label-3-bold-font-size: 13px;
    --font-label-label-3-bold-text-decoration: none;
    --font-label-label-3-bold-font-family: Avenir;
    --font-label-label-3-bold-font-weight: 900;
    --font-label-label-3-bold-font-style: normal;
    --font-label-label-3-bold-font-stretch: normal;
    --font-label-label-3-bold-letter-spacing: -0.14px;
    --font-label-label-3-bold-line-height: 16px;
    --font-label-label-3-bold-paragraph-indent: 0;
    --font-label-label-3-bold-paragraph-spacing: 0;
    --font-label-label-3-bold-text-case: none;
    --font-label-label-4-regular-font-size: 12px;
    --font-label-label-4-regular-text-decoration: none;
    --font-label-label-4-regular-font-family: Avenir;
    --font-label-label-4-regular-font-weight: 400;
    --font-label-label-4-regular-font-style: normal;
    --font-label-label-4-regular-font-stretch: normal;
    --font-label-label-4-regular-letter-spacing: -0.12px;
    --font-label-label-4-regular-line-height: 14px;
    --font-label-label-4-regular-paragraph-indent: 0;
    --font-label-label-4-regular-paragraph-spacing: 0;
    --font-label-label-4-regular-text-case: none;
    --font-label-label-4-medium-font-size: 12px;
    --font-label-label-4-medium-text-decoration: none;
    --font-label-label-4-medium-font-family: Avenir;
    --font-label-label-4-medium-font-weight: 500;
    --font-label-label-4-medium-font-style: normal;
    --font-label-label-4-medium-font-stretch: normal;
    --font-label-label-4-medium-letter-spacing: -0.12px;
    --font-label-label-4-medium-line-height: 14px;
    --font-label-label-4-medium-paragraph-indent: 0;
    --font-label-label-4-medium-paragraph-spacing: 0;
    --font-label-label-4-medium-text-case: none;
    --font-label-label-4-semi-bold-font-size: 12px;
    --font-label-label-4-semi-bold-text-decoration: none;
    --font-label-label-4-semi-bold-font-family: Avenir;
    --font-label-label-4-semi-bold-font-weight: 500;
    --font-label-label-4-semi-bold-font-style: normal;
    --font-label-label-4-semi-bold-font-stretch: normal;
    --font-label-label-4-semi-bold-letter-spacing: -0.12px;
    --font-label-label-4-semi-bold-line-height: 14px;
    --font-label-label-4-semi-bold-paragraph-indent: 0;
    --font-label-label-4-semi-bold-paragraph-spacing: 0;
    --font-label-label-4-semi-bold-text-case: none;
    --font-label-label-4-bold-font-size: 12px;
    --font-label-label-4-bold-text-decoration: none;
    --font-label-label-4-bold-font-family: Avenir;
    --font-label-label-4-bold-font-weight: 900;
    --font-label-label-4-bold-font-style: normal;
    --font-label-label-4-bold-font-stretch: normal;
    --font-label-label-4-bold-letter-spacing: -0.12px;
    --font-label-label-4-bold-line-height: 14px;
    --font-label-label-4-bold-paragraph-indent: 0;
    --font-label-label-4-bold-paragraph-spacing: 0;
    --font-label-label-4-bold-text-case: none;
    --font-label-label-5-regular-font-size: 11px;
    --font-label-label-5-regular-text-decoration: none;
    --font-label-label-5-regular-font-family: Avenir;
    --font-label-label-5-regular-font-weight: 400;
    --font-label-label-5-regular-font-style: normal;
    --font-label-label-5-regular-font-stretch: normal;
    --font-label-label-5-regular-letter-spacing: -0.1px;
    --font-label-label-5-regular-line-height: 14px;
    --font-label-label-5-regular-paragraph-indent: 0;
    --font-label-label-5-regular-paragraph-spacing: 0;
    --font-label-label-5-regular-text-case: none;
    --font-label-label-5-medium-font-size: 11px;
    --font-label-label-5-medium-text-decoration: none;
    --font-label-label-5-medium-font-family: Avenir;
    --font-label-label-5-medium-font-weight: 500;
    --font-label-label-5-medium-font-style: normal;
    --font-label-label-5-medium-font-stretch: normal;
    --font-label-label-5-medium-letter-spacing: -0.1px;
    --font-label-label-5-medium-line-height: 14px;
    --font-label-label-5-medium-paragraph-indent: 0;
    --font-label-label-5-medium-paragraph-spacing: 0;
    --font-label-label-5-medium-text-case: none;
    --font-label-label-5-semi-bold-font-size: 11px;
    --font-label-label-5-semi-bold-text-decoration: none;
    --font-label-label-5-semi-bold-font-family: Avenir;
    --font-label-label-5-semi-bold-font-weight: 500;
    --font-label-label-5-semi-bold-font-style: normal;
    --font-label-label-5-semi-bold-font-stretch: normal;
    --font-label-label-5-semi-bold-letter-spacing: -0.1px;
    --font-label-label-5-semi-bold-line-height: 14px;
    --font-label-label-5-semi-bold-paragraph-indent: 0;
    --font-label-label-5-semi-bold-paragraph-spacing: 0;
    --font-label-label-5-semi-bold-text-case: none;
    --font-label-label-5-bold-font-size: 11px;
    --font-label-label-5-bold-text-decoration: none;
    --font-label-label-5-bold-font-family: Avenir;
    --font-label-label-5-bold-font-weight: 900;
    --font-label-label-5-bold-font-style: normal;
    --font-label-label-5-bold-font-stretch: normal;
    --font-label-label-5-bold-letter-spacing: -0.1px;
    --font-label-label-5-bold-line-height: 14px;
    --font-label-label-5-bold-paragraph-indent: 0;
    --font-label-label-5-bold-paragraph-spacing: 0;
    --font-label-label-5-bold-text-case: none;
    --font-tiny-medium-font-size: 10px;
    --font-tiny-medium-text-decoration: none;
    --font-tiny-medium-font-family: Avenir;
    --font-tiny-medium-font-weight: 500;
    --font-tiny-medium-font-style: normal;
    --font-tiny-medium-font-stretch: normal;
    --font-tiny-medium-letter-spacing: 0px;
    --font-tiny-medium-line-height: 12px;
    --font-tiny-medium-paragraph-indent: 0;
    --font-tiny-medium-paragraph-spacing: 0;
    --font-tiny-medium-text-case: none;
    --font-tiny-semi-bold-font-size: 10px;
    --font-tiny-semi-bold-text-decoration: none;
    --font-tiny-semi-bold-font-family: Avenir;
    --font-tiny-semi-bold-font-weight: 500;
    --font-tiny-semi-bold-font-style: normal;
    --font-tiny-semi-bold-font-stretch: normal;
    --font-tiny-semi-bold-letter-spacing: 0px;
    --font-tiny-semi-bold-line-height: 12px;
    --font-tiny-semi-bold-paragraph-indent: 0;
    --font-tiny-semi-bold-paragraph-spacing: 0;
    --font-tiny-semi-bold-text-case: none;
    --font-tiny-bold-font-size: 10px;
    --font-tiny-bold-text-decoration: none;
    --font-tiny-bold-font-family: Avenir;
    --font-tiny-bold-font-weight: 900;
    --font-tiny-bold-font-style: normal;
    --font-tiny-bold-font-stretch: normal;
    --font-tiny-bold-letter-spacing: 0px;
    --font-tiny-bold-line-height: 12px;
    --font-tiny-bold-paragraph-indent: 0;
    --font-tiny-bold-paragraph-spacing: 0;
    --font-tiny-bold-text-case: none;
    --font-tiny-extended-medium-font-size: 10px;
    --font-tiny-extended-medium-text-decoration: none;
    --font-tiny-extended-medium-font-family: Avenir;
    --font-tiny-extended-medium-font-weight: 500;
    --font-tiny-extended-medium-font-style: normal;
    --font-tiny-extended-medium-font-stretch: normal;
    --font-tiny-extended-medium-letter-spacing: 1px;
    --font-tiny-extended-medium-line-height: 12px;
    --font-tiny-extended-medium-paragraph-indent: 0;
    --font-tiny-extended-medium-paragraph-spacing: 0;
    --font-tiny-extended-medium-text-case: none;
    --font-tiny-extended-semi-bold-font-size: 10px;
    --font-tiny-extended-semi-bold-text-decoration: none;
    --font-tiny-extended-semi-bold-font-family: Avenir;
    --font-tiny-extended-semi-bold-font-weight: 500;
    --font-tiny-extended-semi-bold-font-style: normal;
    --font-tiny-extended-semi-bold-font-stretch: normal;
    --font-tiny-extended-semi-bold-letter-spacing: 1px;
    --font-tiny-extended-semi-bold-line-height: 12px;
    --font-tiny-extended-semi-bold-paragraph-indent: 0;
    --font-tiny-extended-semi-bold-paragraph-spacing: 0;
    --font-tiny-extended-semi-bold-text-case: none;
    --font-tiny-extended-bold-font-size: 10px;
    --font-tiny-extended-bold-text-decoration: none;
    --font-tiny-extended-bold-font-family: Avenir;
    --font-tiny-extended-bold-font-weight: 900;
    --font-tiny-extended-bold-font-style: normal;
    --font-tiny-extended-bold-font-stretch: normal;
    --font-tiny-extended-bold-letter-spacing: 1px;
    --font-tiny-extended-bold-line-height: 12px;
    --font-tiny-extended-bold-paragraph-indent: 0;
    --font-tiny-extended-bold-paragraph-spacing: 0;
    --font-tiny-extended-bold-text-case: none;
    --font-micro-medium-font-size: 9px;
    --font-micro-medium-text-decoration: none;
    --font-micro-medium-font-family: Avenir;
    --font-micro-medium-font-weight: 500;
    --font-micro-medium-font-style: normal;
    --font-micro-medium-font-stretch: normal;
    --font-micro-medium-letter-spacing: 0px;
    --font-micro-medium-line-height: 10px;
    --font-micro-medium-paragraph-indent: 0;
    --font-micro-medium-paragraph-spacing: 0;
    --font-micro-medium-text-case: none;
    --font-micro-semi-bold-font-size: 9px;
    --font-micro-semi-bold-text-decoration: none;
    --font-micro-semi-bold-font-family: Avenir;
    --font-micro-semi-bold-font-weight: 500;
    --font-micro-semi-bold-font-style: normal;
    --font-micro-semi-bold-font-stretch: normal;
    --font-micro-semi-bold-letter-spacing: 0px;
    --font-micro-semi-bold-line-height: 10px;
    --font-micro-semi-bold-paragraph-indent: 0;
    --font-micro-semi-bold-paragraph-spacing: 0;
    --font-micro-semi-bold-text-case: none;
    --font-micro-bold-font-size: 9px;
    --font-micro-bold-text-decoration: none;
    --font-micro-bold-font-family: Avenir;
    --font-micro-bold-font-weight: 900;
    --font-micro-bold-font-style: normal;
    --font-micro-bold-font-stretch: normal;
    --font-micro-bold-letter-spacing: 0px;
    --font-micro-bold-line-height: 10px;
    --font-micro-bold-paragraph-indent: 0;
    --font-micro-bold-paragraph-spacing: 0;
    --font-micro-bold-text-case: none;
  }
  