:root {
  --font-common-font-family: Avenir;
  --font-heading-h1-medium-font-size: 32px;
  --font-heading-h1-medium-font-weight: 500;
  --font-heading-h1-medium-letter-spacing: -0.6px;
  --font-heading-h1-medium-line-height: 36px;
  --font-heading-h1-medium-paragraph-indent: 0;
  --font-heading-h1-medium-paragraph-spacing: 0;
  --font-heading-h1-bold-font-size: 32px;
  --font-heading-h1-bold-font-weight: 900;
  --font-heading-h1-bold-letter-spacing: -0.6px;
  --font-heading-h1-bold-line-height: 36px;
  --font-heading-h1-bold-paragraph-indent: 0;
  --font-heading-h1-bold-paragraph-spacing: 0;
  --font-heading-h2-medium-font-size: 24px;
  --font-heading-h2-medium-font-weight: 500;
  --font-heading-h2-medium-letter-spacing: -0.24px;
  --font-heading-h2-medium-line-height: 28px;
  --font-heading-h2-medium-paragraph-indent: 0;
  --font-heading-h2-medium-paragraph-spacing: 0;
  --font-heading-h2-bold-font-size: 24px;
  --font-heading-h2-bold-font-weight: 900;
  --font-heading-h2-bold-letter-spacing: -0.24px;
  --font-heading-h2-bold-line-height: 28px;
  --font-heading-h2-bold-paragraph-indent: 0;
  --font-heading-h2-bold-paragraph-spacing: 0;
  --font-heading-h3-medium-font-size: 20px;
  --font-heading-h3-medium-font-weight: 500;
  --font-heading-h3-medium-letter-spacing: -0.2px;
  --font-heading-h3-medium-line-height: 24px;
  --font-heading-h3-medium-paragraph-indent: 0;
  --font-heading-h3-medium-paragraph-spacing: 0;
  --font-heading-h3-bold-font-size: 20px;
  --font-heading-h3-bold-font-weight: 900;
  --font-heading-h3-bold-letter-spacing: -0.2px;
  --font-heading-h3-bold-line-height: 24px;
  --font-heading-h3-bold-paragraph-indent: 0;
  --font-heading-h3-bold-paragraph-spacing: 0;
  --font-heading-h4-medium-font-size: 18px;
  --font-heading-h4-medium-font-weight: 500;
  --font-heading-h4-medium-letter-spacing: -0.1px;
  --font-heading-h4-medium-line-height: 20px;
  --font-heading-h4-medium-paragraph-indent: 0;
  --font-heading-h4-medium-paragraph-spacing: 0;
  --font-heading-h4-bold-font-size: 18px;
  --font-heading-h4-bold-font-weight: 900;
  --font-heading-h4-bold-letter-spacing: -0.1px;
  --font-heading-h4-bold-line-height: 20px;
  --font-heading-h4-bold-paragraph-indent: 0;
  --font-heading-h4-bold-paragraph-spacing: 0;
  --font-body-body-1-regular-font-size: 18px;
  --font-body-body-1-regular-font-weight: 400;
  --font-body-body-1-regular-letter-spacing: 0px;
  --font-body-body-1-regular-line-height: 24px;
  --font-body-body-1-regular-paragraph-indent: 0;
  --font-body-body-1-regular-paragraph-spacing: 0;
  --font-body-body-1-bold-font-size: 18px;
  --font-body-body-1-bold-font-weight: 900;
  --font-body-body-1-bold-letter-spacing: 0px;
  --font-body-body-1-bold-line-height: 24px;
  --font-body-body-1-bold-paragraph-indent: 0;
  --font-body-body-1-bold-paragraph-spacing: 0;
  --font-body-body-2-regular-font-size: 16px;
  --font-body-body-2-regular-font-weight: 400;
  --font-body-body-2-regular-letter-spacing: 0px;
  --font-body-body-2-regular-line-height: 22px;
  --font-body-body-2-regular-paragraph-indent: 0;
  --font-body-body-2-regular-paragraph-spacing: 0;
  --font-body-body-2-bold-font-size: 16px;
  --font-body-body-2-bold-font-weight: 900;
  --font-body-body-2-bold-letter-spacing: 0px;
  --font-body-body-2-bold-line-height: 22px;
  --font-body-body-2-bold-paragraph-indent: 0;
  --font-body-body-2-bold-paragraph-spacing: 0;
  --font-body-body-3-regular-font-size: 14px;
  --font-body-body-3-regular-font-weight: 400;
  --font-body-body-3-regular-letter-spacing: 0px;
  --font-body-body-3-regular-line-height: 18px;
  --font-body-body-3-regular-paragraph-indent: 0;
  --font-body-body-3-regular-paragraph-spacing: 0;
  --font-body-body-3-bold-font-size: 14px;
  --font-body-body-3-bold-font-weight: 900;
  --font-body-body-3-bold-letter-spacing: 0px;
  --font-body-body-3-bold-line-height: 18px;
  --font-body-body-3-bold-paragraph-indent: 0;
  --font-body-body-3-bold-paragraph-spacing: 0;
  --font-body-body-4-regular-font-size: 12px;
  --font-body-body-4-regular-font-weight: 400;
  --font-body-body-4-regular-letter-spacing: 0px;
  --font-body-body-4-regular-line-height: 16px;
  --font-body-body-4-regular-paragraph-indent: 0;
  --font-body-body-4-regular-paragraph-spacing: 0;
  --font-body-body-4-bold-font-size: 12px;
  --font-body-body-4-bold-font-weight: 900;
  --font-body-body-4-bold-letter-spacing: 0px;
  --font-body-body-4-bold-line-height: 16px;
  --font-body-body-4-bold-paragraph-indent: 0;
  --font-body-body-4-bold-paragraph-spacing: 0;
  --font-label-label-1-regular-font-size: 17px;
  --font-label-label-1-regular-font-weight: 400;
  --font-label-label-1-regular-letter-spacing: -0.18px;
  --font-label-label-1-regular-line-height: 20.4px;
  --font-label-label-1-regular-paragraph-indent: 0;
  --font-label-label-1-regular-paragraph-spacing: 0;
  --font-label-label-1-medium-font-size: 17px;
  --font-label-label-1-medium-font-weight: 500;
  --font-label-label-1-medium-letter-spacing: -0.18px;
  --font-label-label-1-medium-line-height: 20px;
  --font-label-label-1-medium-paragraph-indent: 0;
  --font-label-label-1-medium-paragraph-spacing: 0;
  --font-label-label-1-semi-bold-font-size: 17px;
  --font-label-label-1-semi-bold-font-weight: 500;
  --font-label-label-1-semi-bold-letter-spacing: -0.18px;
  --font-label-label-1-semi-bold-line-height: 20px;
  --font-label-label-1-semi-bold-paragraph-indent: 0;
  --font-label-label-1-semi-bold-paragraph-spacing: 0;
  --font-label-label-1-bold-font-size: 17px;
  --font-label-label-1-bold-font-weight: 900;
  --font-label-label-1-bold-letter-spacing: -0.18px;
  --font-label-label-1-bold-line-height: 20px;
  --font-label-label-1-bold-paragraph-indent: 0;
  --font-label-label-1-bold-paragraph-spacing: 0;
  --font-label-label-2-regular-font-size: 15px;
  --font-label-label-2-regular-font-weight: 400;
  --font-label-label-2-regular-letter-spacing: -0.16px;
  --font-label-label-2-regular-line-height: 18px;
  --font-label-label-2-regular-paragraph-indent: 0;
  --font-label-label-2-regular-paragraph-spacing: 0;
  --font-label-label-2-medium-font-size: 15px;
  --font-label-label-2-medium-font-weight: 500;
  --font-label-label-2-medium-letter-spacing: -0.16px;
  --font-label-label-2-medium-line-height: 18px;
  --font-label-label-2-medium-paragraph-indent: 0;
  --font-label-label-2-medium-paragraph-spacing: 0;
  --font-label-label-2-semi-bold-font-size: 15px;
  --font-label-label-2-semi-bold-font-weight: 500;
  --font-label-label-2-semi-bold-letter-spacing: -0.16px;
  --font-label-label-2-semi-bold-line-height: 18px;
  --font-label-label-2-semi-bold-paragraph-indent: 0;
  --font-label-label-2-semi-bold-paragraph-spacing: 0;
  --font-label-label-2-bold-font-size: 15px;
  --font-label-label-2-bold-font-weight: 900;
  --font-label-label-2-bold-letter-spacing: -0.16px;
  --font-label-label-2-bold-line-height: 18px;
  --font-label-label-2-bold-paragraph-indent: 0;
  --font-label-label-2-bold-paragraph-spacing: 0;
  --font-label-label-3-regular-font-size: 13px;
  --font-label-label-3-regular-font-weight: 400;
  --font-label-label-3-regular-letter-spacing: -0.14px;
  --font-label-label-3-regular-line-height: 16px;
  --font-label-label-3-regular-paragraph-indent: 0;
  --font-label-label-3-regular-paragraph-spacing: 0;
  --font-label-label-3-medium-font-size: 13px;
  --font-label-label-3-medium-font-weight: 500;
  --font-label-label-3-medium-letter-spacing: -0.14px;
  --font-label-label-3-medium-line-height: 16px;
  --font-label-label-3-medium-paragraph-indent: 0;
  --font-label-label-3-medium-paragraph-spacing: 0;
  --font-label-label-3-semi-bold-font-size: 13px;
  --font-label-label-3-semi-bold-font-weight: 500;
  --font-label-label-3-semi-bold-letter-spacing: -0.14px;
  --font-label-label-3-semi-bold-line-height: 16px;
  --font-label-label-3-semi-bold-paragraph-indent: 0;
  --font-label-label-3-semi-bold-paragraph-spacing: 0;
  --font-label-label-3-bold-font-size: 13px;
  --font-label-label-3-bold-font-weight: 900;
  --font-label-label-3-bold-letter-spacing: -0.14px;
  --font-label-label-3-bold-line-height: 16px;
  --font-label-label-3-bold-paragraph-indent: 0;
  --font-label-label-3-bold-paragraph-spacing: 0;
  --font-label-label-4-regular-font-size: 12px;
  --font-label-label-4-regular-font-weight: 400;
  --font-label-label-4-regular-letter-spacing: -0.12px;
  --font-label-label-4-regular-line-height: 14px;
  --font-label-label-4-regular-paragraph-indent: 0;
  --font-label-label-4-regular-paragraph-spacing: 0;
  --font-label-label-4-medium-font-size: 12px;
  --font-label-label-4-medium-font-weight: 500;
  --font-label-label-4-medium-letter-spacing: -0.12px;
  --font-label-label-4-medium-line-height: 14px;
  --font-label-label-4-medium-paragraph-indent: 0;
  --font-label-label-4-medium-paragraph-spacing: 0;
  --font-label-label-4-semi-bold-font-size: 12px;
  --font-label-label-4-semi-bold-font-weight: 500;
  --font-label-label-4-semi-bold-letter-spacing: -0.12px;
  --font-label-label-4-semi-bold-line-height: 14px;
  --font-label-label-4-semi-bold-paragraph-indent: 0;
  --font-label-label-4-semi-bold-paragraph-spacing: 0;
  --font-label-label-4-bold-font-size: 12px;
  --font-label-label-4-bold-font-weight: 900;
  --font-label-label-4-bold-letter-spacing: -0.12px;
  --font-label-label-4-bold-line-height: 14px;
  --font-label-label-4-bold-paragraph-indent: 0;
  --font-label-label-4-bold-paragraph-spacing: 0;
  --font-label-label-5-regular-font-size: 11px;
  --font-label-label-5-regular-font-weight: 400;
  --font-label-label-5-regular-letter-spacing: -0.1px;
  --font-label-label-5-regular-line-height: 14px;
  --font-label-label-5-regular-paragraph-indent: 0;
  --font-label-label-5-regular-paragraph-spacing: 0;
  --font-label-label-5-medium-font-size: 11px;
  --font-label-label-5-medium-font-weight: 500;
  --font-label-label-5-medium-letter-spacing: -0.1px;
  --font-label-label-5-medium-line-height: 14px;
  --font-label-label-5-medium-paragraph-indent: 0;
  --font-label-label-5-medium-paragraph-spacing: 0;
  --font-label-label-5-semi-bold-font-size: 11px;
  --font-label-label-5-semi-bold-font-weight: 500;
  --font-label-label-5-semi-bold-letter-spacing: -0.1px;
  --font-label-label-5-semi-bold-line-height: 14px;
  --font-label-label-5-semi-bold-paragraph-indent: 0;
  --font-label-label-5-semi-bold-paragraph-spacing: 0;
  --font-label-label-5-bold-font-size: 11px;
  --font-label-label-5-bold-font-weight: 900;
  --font-label-label-5-bold-letter-spacing: -0.1px;
  --font-label-label-5-bold-line-height: 14px;
  --font-label-label-5-bold-paragraph-indent: 0;
  --font-label-label-5-bold-paragraph-spacing: 0;
  --font-tiny-medium-font-size: 10px;
  --font-tiny-medium-font-weight: 500;
  --font-tiny-medium-letter-spacing: 0px;
  --font-tiny-medium-line-height: 12px;
  --font-tiny-medium-paragraph-indent: 0;
  --font-tiny-medium-paragraph-spacing: 0;
  --font-tiny-semi-bold-font-size: 10px;
  --font-tiny-semi-bold-font-weight: 500;
  --font-tiny-semi-bold-letter-spacing: 0px;
  --font-tiny-semi-bold-line-height: 12px;
  --font-tiny-semi-bold-paragraph-indent: 0;
  --font-tiny-semi-bold-paragraph-spacing: 0;
  --font-tiny-bold-font-size: 10px;
  --font-tiny-bold-font-weight: 900;
  --font-tiny-bold-letter-spacing: 0px;
  --font-tiny-bold-line-height: 12px;
  --font-tiny-bold-paragraph-indent: 0;
  --font-tiny-bold-paragraph-spacing: 0;
  --font-tiny-extended-medium-font-size: 10px;
  --font-tiny-extended-medium-font-weight: 500;
  --font-tiny-extended-medium-letter-spacing: 1px;
  --font-tiny-extended-medium-line-height: 12px;
  --font-tiny-extended-medium-paragraph-indent: 0;
  --font-tiny-extended-medium-paragraph-spacing: 0;
  --font-tiny-extended-semi-bold-font-size: 10px;
  --font-tiny-extended-semi-bold-font-weight: 500;
  --font-tiny-extended-semi-bold-letter-spacing: 1px;
  --font-tiny-extended-semi-bold-line-height: 12px;
  --font-tiny-extended-semi-bold-paragraph-indent: 0;
  --font-tiny-extended-semi-bold-paragraph-spacing: 0;
  --font-tiny-extended-bold-font-size: 10px;
  --font-tiny-extended-bold-font-weight: 900;
  --font-tiny-extended-bold-letter-spacing: 1px;
  --font-tiny-extended-bold-line-height: 12px;
  --font-tiny-extended-bold-paragraph-indent: 0;
  --font-tiny-extended-bold-paragraph-spacing: 0;
  --font-micro-medium-font-size: 9px;
  --font-micro-medium-font-weight: 500;
  --font-micro-medium-letter-spacing: 0px;
  --font-micro-medium-line-height: 10px;
  --font-micro-medium-paragraph-indent: 0;
  --font-micro-medium-paragraph-spacing: 0;
  --font-micro-semi-bold-font-size: 9px;
  --font-micro-semi-bold-font-weight: 500;
  --font-micro-semi-bold-letter-spacing: 0px;
  --font-micro-semi-bold-line-height: 10px;
  --font-micro-semi-bold-paragraph-indent: 0;
  --font-micro-semi-bold-paragraph-spacing: 0;
  --font-micro-bold-font-size: 9px;
  --font-micro-bold-font-weight: 900;
  --font-micro-bold-letter-spacing: 0px;
  --font-micro-bold-line-height: 10px;
  --font-micro-bold-paragraph-indent: 0;
  --font-micro-bold-paragraph-spacing: 0;
  --primitives-color-red-100: #ff4f40ff;
  --primitives-color-white-50: #e3ebe4ff;
  --primitives-color-white-100: #f2f8f3ff;
  --primitives-color-white-200: #ffffffff;
  --primitives-color-black-100: #000000ff;
  --primitives-color-navy-50: #3b4c54ff;
  --primitives-color-navy-100: #2c3a43ff;
  --primitives-color-navy-200: #112231ff;
  --primitives-color-grey-50: #dfe3ddff;
  --primitives-color-grey-100: #cad0c6ff;
  --primitives-color-grey-200: #aeb5a7ff;
  --primitives-color-grey-300: #75817eff;
  --primitives-color-orange-50: #ff945aff;
  --primitives-color-orange-100: #fe6b1bff;
  --primitives-color-orange-200: #ed5e11ff;
  --primitives-color-pink-50: #ffd7f0ff;
  --primitives-color-pink-100: #ffa9dfff;
  --primitives-color-pink-200: #f365bfff;
  --primitives-color-neon-50: #d9ff6fff;
  --primitives-color-neon-100: #c3ff34ff;
  --primitives-color-neon-200: #a3dc1aff;
  --primitives-color-teal-50: #2eafc0ff;
  --primitives-color-teal-100: #016b83ff;
  --primitives-color-teal-200: #004e60ff;
  --primitives-color-teal-o: #2eafc000;
  --primitives-color-blue-50: #bbf6e2ff;
  --primitives-color-blue-100: #8ce6d1ff;
  --primitives-color-blue-200: #68cdb5ff;
  --primitives-color-blue-300: #0055ccff;
  --primitives-color-khaki-50: #99af73ff;
  --primitives-color-khaki-100: #61763dff;
  --primitives-color-khaki-200: #3a4920ff;
  --primitives-color-green-50: #5ac87f80;
  --primitives-color-green-100: #5ac87fff;
  --primitives-color-green-200: #348a51ff;
  --primitives-color-yellow-50: #ffc328ff;
  --primitives-color-yellow-100: #d26e28ff;
  --primitives-color-destructive-red-50: #ff5a5fff;
  --primitives-color-destructive-red-75: #f5430bbf;
  --primitives-color-destructive-red-100: #d91f11ff;
  --primitives-color-destructive-red-200: #c51e12ff;
  --primitives-spacing-0: 0px;
  --primitives-spacing-1: 2px;
  --primitives-spacing-2: 4px;
  --primitives-spacing-3: 8px;
  --primitives-spacing-4: 12px;
  --primitives-spacing-5: 16px;
  --primitives-spacing-6: 24px;
  --primitives-spacing-7: 32px;
  --primitives-spacing-8: 40px;
  --primitives-spacing-9: 48px;
  --primitives-spacing-10: 56px;
  --primitives-spacing-20: 64px;
  --primitives-spacing-30: 80px;
  --primitives-spacing-40: 96px;
  --primitives-spacing-50: 128px;
  --primitives-radius-rounded-none: 0px;
  --primitives-radius-rounded-sm: 2px;
  --primitives-radius-rounded: 4px;
  --primitives-radius-rounded-md: 8px;
  --primitives-radius-rounded-lg: 12px;
  --primitives-radius-rounded-xl: 16px;
  --primitives-radius-rounded-2xl: 24px;
  --primitives-radius-rounded-3xl: 32px;
  --primitives-radius-rounded-full: 100px;
  --primitives-border-stroke-none: 0px;
  --primitives-border-stroke-thin: 0.5px;
  --primitives-border-stroke-light: 1px;
  --primitives-border-stroke-regular: 2px;
  --primitives-border-stroke-thick: 3px;
  --primitives-border-stroke-extra-thick: 4px;
  --primitives-typography-font-family-primary: Avenir;
  --primitives-typography-font-weight-thin: 100;
  --primitives-typography-font-weight-extra-light: 200;
  --primitives-typography-font-weight-light: 300;
  --primitives-typography-font-weight-regular: 400;
  --primitives-typography-font-weight-medium: 500;
  --primitives-typography-font-weight-semi-bold: 600;
  --primitives-typography-font-weight-bold: 700;
  --primitives-typography-font-weight-extra-bold: 800;
  --primitives-typography-font-weight-black: 900;
  --primitives-typography-font-size-0: 0px;
  --primitives-typography-font-size-1: 1px;
  --primitives-typography-font-size-2: 2px;
  --primitives-typography-font-size-3: 3px;
  --primitives-typography-font-size-4: 4px;
  --primitives-typography-font-size-5: 5px;
  --primitives-typography-font-size-6: 6px;
  --primitives-typography-font-size-7: 7px;
  --primitives-typography-font-size-8: 8px;
  --primitives-typography-font-size-9: 9px;
  --primitives-typography-font-size-10: 10px;
  --primitives-typography-font-size-20: 12px;
  --primitives-typography-font-size-30: 14px;
  --primitives-typography-font-size-40: 16px;
  --primitives-typography-font-size-50: 18px;
  --primitives-typography-font-size-60: 20px;
  --primitives-typography-font-size-70: 24px;
  --primitives-typography-font-size-80: 32px;
  --primitives-typography-font-size-90: 36px;
  --primitives-typography-font-size-100: 48px;
  --alias-color-bg-brand: var(--primitives-color-red-100);
  --alias-color-bg-error: var(--primitives-color-destructive-red-100);
  --alias-color-bg-warning: var(--primitives-color-yellow-50);
  --alias-color-bg-success: var(--primitives-color-green-100);
  --alias-color-bg-info: var(--primitives-color-blue-300);
  --alias-color-bg-light: var(--primitives-color-white-100);
  --alias-color-bg-dark: var(--primitives-color-navy-200);
  --alias-color-bg-pink: var(--primitives-color-pink-100);
  --alias-color-bg-green: var(--primitives-color-neon-100);
  --alias-color-bg-khaki: var(--primitives-color-khaki-100);
  --alias-color-bg-brown: var(--primitives-color-yellow-100);
  --alias-color-bg-light-2: var(--primitives-color-white-100);
  --alias-color-btn-primary-bg-default: var(--primitives-color-teal-100);
  --alias-color-btn-primary-bg-hover: var(--primitives-color-teal-200);
  --alias-color-btn-primary-bg-pressed: var(--primitives-color-teal-200);
  --alias-color-btn-primary-bg-disabled: var(--primitives-color-grey-50);
  --alias-color-btn-primary-bg-default-2: var(--primitives-color-teal-100);
  --alias-color-btn-tertiary-bg-default: var(--primitives-color-grey-50);
  --alias-color-btn-tertiary-bg-hover: var(--primitives-color-grey-100);
  --alias-color-btn-tertiary-bg-press: var(--primitives-color-grey-100);
  --alias-color-btn-tertiary-bg-disabled: var(--primitives-color-grey-50);
  --alias-color-btn-destructive-bg-default: var(--primitives-color-destructive-red-100);
  --alias-color-btn-destructive-bg-hover: var(--primitives-color-destructive-red-200);
  --alias-color-btn-destructive-bg-pressed: var(--primitives-color-destructive-red-200);
  --alias-color-btn-destructive-bg-disabled: var(--primitives-color-destructive-red-75);
  --alias-color-btn-destructive-bg-default-contrast: var(--primitives-color-destructive-red-50);
  --alias-color-btn-secondry-bg-default: var(--primitives-color-teal-o);
  --alias-color-btn-secondry-bg-hover: var(--primitives-color-teal-100);
  --alias-color-btn-secondry-bg-pressed: var(--primitives-color-teal-100);
  --alias-color-btn-secondry-bg-disabled: var(--primitives-color-grey-50);
  --alias-color-btn-secondry-corner-default: var(--primitives-color-teal-100);
  --alias-color-text-text-white-50: var(--primitives-color-white-50);
  --alias-color-text-text-black-50: var(--primitives-color-navy-50);
  --alias-color-text-text-secondry: var(--primitives-color-teal-100);
  --alias-color-text-text-white-200: var(--primitives-color-white-200);
  --alias-color-text-text-black-300: var(--primitives-color-black-100);
  --alias-color-text-text-secondry-pressed: var(--primitives-color-blue-100);
  --alias-color-text-text-brand: var(--alias-color-bg-brand);
  --alias-color-text-text-error: var(--alias-color-btn-destructive-bg-hover);
  --alias-color-text-text-success: var(--primitives-color-green-200);
  --alias-color-text-text-error-contrast: var(--alias-color-btn-destructive-bg-hover);
  --alias-color-text-text-success-contrast: var(--primitives-color-green-100);
  --alias-color-text-text-white-100: var(--primitives-color-white-100);
  --alias-color-text-text-grey-50: var(--primitives-color-grey-50);
  --alias-color-text-text-grey-100: var(--primitives-color-grey-100);
  --alias-color-text-text-grey-200: var(--primitives-color-grey-200);
  --alias-color-text-text-grey-300: var(--primitives-color-grey-300);
  --alias-color-text-text-black-100: var(--primitives-color-navy-100);
  --alias-color-text-text-black-200: var(--primitives-color-navy-200);
  --alias-color-text-field-default: var(--primitives-color-white-200);
  --alias-color-text-field-default-contrast: var(--primitives-color-navy-100);
  --alias-color-text-field-error: var(--primitives-color-destructive-red-75);
  --alias-color-text-field-disabled: var(--alias-color-text-text-grey-50);
  --alias-color-border-active: var(--primitives-color-teal-100);
  --alias-color-border-success: var(--alias-color-bg-success);
  --alias-color-border-error: var(--alias-color-bg-error);
  --alias-color-border-warning: var(--alias-color-bg-warning);
  --alias-color-border-dark: var(--primitives-color-navy-50);
  --alias-color-border-light: var(--primitives-color-grey-50);
  --alias-color-icons-default: var(--primitives-color-teal-100);
  --alias-color-icons-grey: var(--primitives-color-grey-100);
  --alias-color-icons-dark: var(--primitives-color-navy-100);
  --alias-color-icons-light: var(--primitives-color-white-100);
  --alias-color-icons-green: var(--primitives-color-green-200);
  --alias-color-icons-red: var(--primitives-color-destructive-red-100);
  --alias-typography-font-family-primary: Avenir;
  --alias-typography-font-weight-thin: 100;
  --alias-typography-font-weight-extralight: 200;
  --alias-typography-font-weight-light: 300;
  --alias-typography-font-weight-regular: 400;
  --alias-typography-font-weight-medium: 500;
  --alias-typography-font-weight-semibold: 600;
  --alias-typography-font-weight-bold: 700;
  --alias-typography-font-weight-extrabold: 800;
  --alias-typography-font-weight-black: 900;
  --alias-typography-heading-h1-fontsize: 32;
  --alias-typography-heading-h1-lineheight: 36px;
  --alias-typography-heading-h1-letterspacing: -0.6px;
  --alias-typography-heading-h1-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-heading-h2-fontsize: 24px;
  --alias-typography-heading-h2-lineheight: 28px;
  --alias-typography-heading-h2-letterspacing: -0.24px;
  --alias-typography-heading-h2-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-heading-h3-fontsize: 20px;
  --alias-typography-heading-h3-lineheight: 24px;
  --alias-typography-heading-h3-letterspacing: -0.2px;
  --alias-typography-heading-h3-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-heading-h4-fontsize: 18px;
  --alias-typography-heading-h4-lineheight: 20px;
  --alias-typography-heading-h4-letterspacing: -0.1px;
  --alias-typography-heading-h4-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-label-label-1-fontsize: 17px;
  --alias-typography-label-label-1-lineheight: 20px;
  --alias-typography-label-label-1-letterspacing: -0.18px;
  --alias-typography-label-label-1-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-label-label-2-fontsize: 15px;
  --alias-typography-label-label-2-lineheight: 18px;
  --alias-typography-label-label-2-letterspacing: -0.16px;
  --alias-typography-label-label-2-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-label-label-3-fontsize: 13px;
  --alias-typography-label-label-3-lineheight: 16px;
  --alias-typography-label-label-3-letterspacing: -0.14px;
  --alias-typography-label-label-3-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-label-label-4-fontsize: 12px;
  --alias-typography-label-label-4-lineheight: 14px;
  --alias-typography-label-label-4-letterspacing: -0.12px;
  --alias-typography-label-label-4-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-label-label-5-fontsize: 11;
  --alias-typography-label-label-5-lineheight: 14;
  --alias-typography-label-label-5-letterspacing: -0.1;
  --alias-typography-label-label-5-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-body-body-1-fontsize: 18;
  --alias-typography-body-body-1-lineheight: 24;
  --alias-typography-body-body-1-letterspacing: 0;
  --alias-typography-body-body-1-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-body-body-2-fontsize: 16px;
  --alias-typography-body-body-2-lineheight: 22px;
  --alias-typography-body-body-2-letterspacing: 0px;
  --alias-typography-body-body-2-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-body-body-3-fontsize: 14px;
  --alias-typography-body-body-3-lineheight: 18px;
  --alias-typography-body-body-3-letterspacing: 0px;
  --alias-typography-body-body-3-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-body-body-4-fontsize: 12px;
  --alias-typography-body-body-4-lineheight: 16px;
  --alias-typography-body-body-4-letterspacing: 0px;
  --alias-typography-body-body-4-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-tiny-fontsize: 10px;
  --alias-typography-tiny-lineheight: 12px;
  --alias-typography-tiny-letterspacing: 0px;
  --alias-typography-tiny-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-tiny-extended-fontsize: 10px;
  --alias-typography-tiny-extended-lineheight: 12px;
  --alias-typography-tiny-extended-letterspacing: 1px;
  --alias-typography-tiny-extended-fontfamily: var(--alias-typography-font-family-primary);
  --alias-typography-micro-fontsize: 9px;
  --alias-typography-micro-lineheight: 10px;
  --alias-typography-micro-letterspacing: 0px;
  --alias-typography-micro-fontfamily: var(--alias-typography-font-family-primary);
}
