:root {
  --font-heading-h1-medium-font-size: 32px;
  --font-heading-h1-medium-font-weight: 500;
  --font-heading-h1-medium-letter-spacing: -0.6px;
  --font-heading-h1-medium-line-height: 36px;

  --font-heading-h1-bold-font-weight: 900;

  --font-heading-h2-medium-font-size: 24px;
  --font-heading-h2-medium-font-weight: 500;
  --font-heading-h2-medium-letter-spacing: -0.24px;
  --font-heading-h2-medium-line-height: 28px;

  --font-heading-h2-bold-font-weight: 900;

  --font-heading-h3-medium-font-size: 20px;
  --font-heading-h3-medium-font-weight: 500;
  --font-heading-h3-medium-letter-spacing: -0.2px;
  --font-heading-h3-medium-line-height: 24px;

  --font-heading-h3-bold-font-weight: 900;

  --font-heading-h4-medium-font-size: 18px;
  --font-heading-h4-medium-font-weight: 500;
  --font-heading-h4-medium-letter-spacing: -0.1px;
  --font-heading-h4-medium-line-height: 20px;

  --font-heading-h4-bold-font-weight: 900;

  --font-body-body-1-regular-font-size: 18px;
  --font-body-body-1-regular-font-weight: 400;
  --font-body-body-1-regular-line-height: 24px;

  --font-body-body-1-bold-font-weight: 900;

  --font-body-body-2-regular-font-size: 16px;
  --font-body-body-2-regular-line-height: 22px;

  --font-body-body-2-bold-font-weight: 900;

  --font-body-body-3-regular-font-size: 14px;
  --font-body-body-3-regular-line-height: 18px;

  --font-body-body-3-bold-font-weight: 900;

  --font-body-body-4-regular-font-size: 12px;
  --font-body-body-4-regular-line-height: 16px;

  --font-body-body-4-bold-font-weight: 900;

  --font-label-label-1-regular-font-size: 17px;
  --font-label-label-1-regular-font-weight: 400;
  --font-label-label-1-regular-letter-spacing: -0.18px;
  --font-label-label-1-regular-line-height: 20.4px;

  --font-label-label-1-medium-font-weight: 500;
  --font-label-label-1-bold-font-weight: 900;

  --font-label-label-2-regular-font-size: 15px;
  --font-label-label-2-regular-letter-spacing: -0.16px;
  --font-label-label-2-regular-line-height: 18px;

  --font-label-label-2-medium-font-weight: 500;
  --font-label-label-2-bold-font-weight: 900;

  --font-label-label-3-regular-font-size: 13px;
  --font-label-label-3-regular-letter-spacing: -0.14px;
  --font-label-label-3-regular-line-height: 16px;

  --font-label-label-3-medium-font-weight: 500;
  --font-label-label-3-bold-font-weight: 900;

  --font-common-font-family: Avenir;
  --primitives-color-red-100: #ff4f40ff;
  --primitives-color-white-50: #e3ebe4ff;
  --primitives-color-white-100: #f2f8f3ff;
  --primitives-color-white-200: #ffffffff;
  --primitives-color-black-100: #000000ff;
  --primitives-color-navy-50: #3b4c54ff;
  --primitives-color-navy-100: #2c3a43ff;
  --primitives-color-navy-200: #112231ff;
  --primitives-color-grey-50: #dfe3ddff;
  --primitives-color-grey-100: #cad0c6ff;
  --primitives-color-grey-200: #aeb5a7ff;
  --primitives-color-grey-300: #75817eff;
  --primitives-color-orange-50: #ff945aff;
  --primitives-color-orange-100: #fe6b1bff;
  --primitives-color-orange-200: #ed5e11ff;
  --primitives-color-pink-50: #ffd7f0ff;
  --primitives-color-pink-100: #ffa9dfff;
  --primitives-color-pink-200: #f365bfff;
  --primitives-color-neon-50: #d9ff6fff;
  --primitives-color-neon-100: #c3ff34ff;
  --primitives-color-neon-200: #a3dc1aff;
  --primitives-color-teal-50: #2eafc0ff;
  --primitives-color-teal-100: #016b83ff;
  --primitives-color-teal-200: #004e60ff;
  --primitives-color-teal-o: #2eafc000;
  --primitives-color-blue-50: #bbf6e2ff;
  --primitives-color-blue-100: #8ce6d1ff;
  --primitives-color-blue-200: #68cdb5ff;
  --primitives-color-blue-300: #0055ccff;
  --primitives-color-khaki-50: #99af73ff;
  --primitives-color-khaki-100: #61763dff;
  --primitives-color-khaki-200: #3a4920ff;
  --primitives-color-green-50: #5ac87f80;
  --primitives-color-green-100: #5ac87fff;
  --primitives-color-green-200: #348a51ff;
  --primitives-color-yellow-50: #ffc328ff;
  --primitives-color-yellow-100: #d26e28ff;
  --primitives-color-destructive-red-50: #ff5a5fff;
  --primitives-color-destructive-red-75: #f5430bbf;
  --primitives-color-destructive-red-100: #d91f11ff;
  --primitives-color-destructive-red-200: #c51e12ff;
  --primitives-spacing-0: 0;
  --primitives-spacing-1: 2;
  --primitives-spacing-2: 4;
  --primitives-spacing-3: 8;
  --primitives-spacing-4: 12;
  --primitives-spacing-5: 16;
  --primitives-spacing-6: 24;
  --primitives-spacing-7: 32;
  --primitives-spacing-8: 40;
  --primitives-spacing-9: 48;
  --primitives-spacing-10: 56;
  --primitives-spacing-20: 64;
  --primitives-spacing-30: 80;
  --primitives-spacing-40: 96;
  --primitives-spacing-50: 128;
  --primitives-radius-rounded-none: 0;
  --primitives-radius-rounded-sm: 2;
  --primitives-radius-rounded: 4;
  --primitives-radius-rounded-md: 8;
  --primitives-radius-rounded-lg: 12;
  --primitives-radius-rounded-xl: 16;
  --primitives-radius-rounded-2xl: 24;
  --primitives-radius-rounded-3xl: 32;
  --primitives-radius-rounded-full: 9999px;
  --primitives-border-stroke-none: 0;
  --primitives-border-stroke-thin: 0.5;
  --primitives-border-stroke-light: 1;
  --primitives-border-stroke-regular: 2;
  --primitives-border-stroke-thick: 3;
  --primitives-border-stroke-extra-thick: 4;
  --primitives-typography-font-family-primary: Avenir;
  --primitives-typography-font-weight-thin: 100;
  --primitives-typography-font-weight-extra-light: 200;
  --primitives-typography-font-weight-light: 300;
  --primitives-typography-font-weight-regular: 400;
  --primitives-typography-font-weight-medium: 500;
  --primitives-typography-font-weight-semi-bold: 600;
  --primitives-typography-font-weight-bold: 700;
  --primitives-typography-font-weight-extra-bold: 800;
  --primitives-typography-font-weight-black: 900;
  --primitives-typography-font-size-0: 0;
  --primitives-typography-font-size-1: 1;
  --primitives-typography-font-size-2: 2;
  --primitives-typography-font-size-3: 3;
  --primitives-typography-font-size-4: 4;
  --primitives-typography-font-size-5: 5;
  --primitives-typography-font-size-6: 6;
  --primitives-typography-font-size-7: 7;
  --primitives-typography-font-size-8: 8;
  --primitives-typography-font-size-9: 9;
  --primitives-typography-font-size-10: 10;
  --primitives-typography-font-size-20: 12;
  --primitives-typography-font-size-30: 14;
  --primitives-typography-font-size-40: 16;
  --primitives-typography-font-size-50: 18;
  --primitives-typography-font-size-60: 20;
  --primitives-typography-font-size-70: 24;
  --primitives-typography-font-size-80: 32;
  --primitives-typography-font-size-90: 36;
  --primitives-typography-font-size-100: 48;
}
