/* text.css */
.text {
  margin: 0;
  padding: 0;
  font-family: var(--font-common-font-family, Arial);
}

/* Semantic base styles */
.text-h1 {
  font-size: var(--font-heading-h1-h1-font-size);
  font-weight: var(--font-heading-h1-h1-font-weight);
  letter-spacing: var(--font-heading-h1-h1-letter-spacing);
  line-height: var(--font-heading-h1-h1-line-height);
}

.text-h2 {
  font-size: var(--font-heading-h2-h2-font-size);
  font-weight: var(--font-heading-h2-h2-font-weight);
  letter-spacing: var(--font-heading-h2-h2-letter-spacing);
  line-height: var(--font-heading-h2-h2-line-height);
}

.text-h3 {
  font-size: var(--font-heading-h3-h3-font-size);
  font-weight: var(--font-heading-h3-h3-font-weight);
  letter-spacing: var(--font-heading-h3-h3-letter-spacing);
  line-height: var(--font-heading-h3-h3-line-height);
}

.text-h4 {
  font-size: var(--font-heading-h4-medium-font-size);
  font-weight: var(--font-heading-h4-medium-font-weight);
  letter-spacing: var(--font-heading-h4-medium-letter-spacing);
  line-height: var(--font-heading-h4-medium-line-height);
}

.text-body,
.text-p {
  font-size: var(--font-paragrapgh-p1-p1-font-size);
  font-weight: var(--font-paragrapgh-p1-p1-font-weight);
  line-height: var(--font-paragrapgh-p1-p1-line-height);
}

.text-subtitle {
  font-size: var(--font-paragrapgh-btn-text-1-btn-text-1-font-size);
}

