/* text.css */
.text {
  margin: 0;
  padding: 0;
  font-family: var(--font-common-font-family, Arial);
}

/* Semantic base styles */
.text-h1 {
  font-size: var(--font-heading-h1-medium-font-size);
  font-weight: var(--font-heading-h1-medium-font-weight);
  letter-spacing: var(--font-heading-h1-medium-letter-spacing);
  line-height: var(--font-heading-h1-medium-line-height);
}

.text-h2 {
  font-size: var(--font-heading-h2-medium-font-size);
  font-weight: var(--font-heading-h2-medium-font-weight);
  letter-spacing: var(--font-heading-h2-medium-letter-spacing);
  line-height: var(--font-heading-h2-medium-line-height);
}

.text-h3 {
  font-size: var(--font-heading-h3-medium-font-size);
  font-weight: var(--font-heading-h3-medium-font-weight);
  letter-spacing: var(--font-heading-h3-medium-letter-spacing);
  line-height: var(--font-heading-h3-medium-line-height);
}

.text-h4 {
  font-size: var(--font-heading-h4-medium-font-size);
  font-weight: var(--font-heading-h4-medium-font-weight);
  letter-spacing: var(--font-heading-h4-medium-letter-spacing);
  line-height: var(--font-heading-h4-medium-line-height);
}

.text-body,
.text-p {
  font-size: var(--font-body-body-1-regular-font-size);
  font-weight: var(--font-body-body-1-regular-font-weight);
  line-height: var(--font-body-body-1-regular-line-height);
}

.text-subtitle {
  font-size: var(--font-body-body-3-regular-font-size);
}

