/* Custom styles for MDX documentation */
.sbdocs-wrapper h1,
.sbdocs-wrapper h3,
.sbdocs-wrapper h4,
.sbdocs-wrapper h5,
.sbdocs-wrapper h6 {
  color: #FF6600 !important;
  font-weight: 850 !important;
  
}

.sbdocs-wrapper h2 {
  color: #000000 !important;
}

/* Ensure consistent font rendering */
* {
  font-family: 'Avenir', 'Helvetica Neue', Arial, sans-serif;
}

.sbdocs-wrapper li,
.sbdocs-wrapper p {
  font-size: 16px;
  font-weight: 500;
}
